.parent{
 display: flex;
 flex-wrap: wrap;
 margin-left: 20px;
}

.child{
  flex-basis: 25%;
  margin: 20px
}

.albums{
  text-align: center;
  font-weight: 100
}


.facebook{
  display: flex;
  justify-content: center;
  margin-top:15%
}

.fbbutton{
  
}